---
layout: default
title: Blog
permalink: /blog/
published: true
---
<h1 style = background-color:SlateBlue;color:White; align="center">Blog</h1>

<div class="posts">
  {% for post in site.posts %}
  	{% if post.path contains 'blog' %}
  		<article class="post">
          	<h1 style = background-color:LightGray;>{{ post.date | date: "%B %e, %Y" }} - {{ post.title }}</h1>
      
        	<div class="entry">
          		{{ post.content }}
        	</div>
 		 </article>
    {% endif %}
  {% endfor %}
</div>
