---
layout: default
published: true
---
<h1 style=background-color:SlateBlue;color:White; align="center">What's New?</h1>

<div class="posts">
  {% for post in site.posts %}
  <article class="post">

    <h2 style=background-color:Gainsboro;>{{ post.date | date: "%B %e, %Y" }} - {{ post.title }}</h2>

    {% if post.path contains 'notes' %}
    <div class="date">
      <p style=color:ForestGreen><b>Notes & Things</b></p>
    </div>
    {% elsif  post.path contains '2019-ABA-CS' %}
    <div class="date">
      <p style=color:OrangeRed><b>ABA 2019: Computer Science</b></p>
    </div>
    {% else %}
    {% endif %}

    <div class="entry">
      {{ post.excerpt }}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
  </article>
  {% endfor %}
</div>