---
layout: default
title: Notes & Things
permalink: /notes/
published: true
---
<h1 style=background-color:SlateBlue;color:White; align="center">Notes</h1>
<h3 style=color:ForestGreen; align="center"><i>My Notes on Random, Geeky Things.</i></h3>

<div class="posts">
	{% for post in site.posts %}
	{% if post.path contains 'notes' %}
	<article class="post">
		<h2 style=background-color:Gainsboro;>{{ post.date | date: "%B %e, %Y" }} - {{ post.title }}</h2>

		<div class="entry">
			{{ post.content }}
		</div>
	</article>
	{% endif %}
	{% endfor %}
</div>